/*
 * -------------------------------------------------
 *  hack2021/HAVoC Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */


 plugins {
   id 'nf-azure'
 }

// Global default params, used in configs
params {

  // Workflow flags
  nextera = null
  ref = null
  reads = null
  outdir = 'results'
  prepro = 'fastp'
  aligner = 'bwa'
  sam = 'sambamba'
  coverage = 30
  pangolin = 'yes'

}

process {
  withName:runHavoc {
    container = 'vsmalladi/havoc:1.0.0'
  }
}

profiles {
  local {
    includeConfig 'conf/local.config'
  }
  azure {
    includeConfig 'conf/azure.config'
  }
}


manifest {
  name = 'hach2021/HAVoC'
  mainScript = 'main.nf'
  version = 'v1.0.0'
  nextflowVersion = '>=20.10.0'
}
