<li class="list-group-item">
    <div class="row">
        <div class="col">@Run.PipelineRunName</div>
        <div class="col">@ConverToLocalDateTimeString(Run.RunDateTime)</div>
        <div class="col">
            @switch (@Run.Status)
            {
                case "Completed":
                    <span class="oi oi-circle-check">Completed</span>
                    break;
                case "Running":
                    <span class="oi oi-reload"></span>
                    break;
                case "":
                default:
                    <span class="oi oi-question-mark"></span>
                    break;
            }
        </div>
    </div>
</li>