<EditForm class="col-form-label" Model="@ViewParam">
    <div class="form-group">
        <label class="col-form-label">@ViewParam.ParamName</label>
        <InputText id="value" @bind-Value="@ViewParam.Value" required />
        <small class="form-text text-muted">@ViewParam.ParamExample</small>
    </div>
</EditForm>
