<div class="card">
    <div class="card-header">
        @Pline.PipelineName
        <a href="/execute/@Pline.PipelineId">Execute</a>
    </div>
    <p>
        @Pline.Description
    </p>
    <div class="card-footer">
        @Pline.GitHubUrl
    </div>
</div>