<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="row">
            <div class="col font-weight-bold">Run Name</div>
            <div class="col font-weight-bold">Started On</div>
            <div class="col font-weight-bold">Status</div>
        </div>
    </li>
    @foreach (var p in @RunList)
    {
        <PipelineRun Run=p />
    }
</ul>
