@page "/execute/{Id:int}"
@using NextflowRunnerClient.Components
<div>
    <h2>Pipeline Id: @Id </h2>
    @if (SUBMITTED)
    {
        <h2>Submitted</h2>        
    }

    <EditForm class="form" Model=@ExecutionRequest>
        <label for="run-name">Run Name</label>

        <div class="input-group">
            <InputText class="form-control" id="run-name" @bind-Value=@ExecutionRequest.RunName />
            <div class="input-group-append">
                <span class="input-group-text" id="run-name">@RunNameUqEnd</span>
            </div>
        </div>
        <div>&nbsp;</div>
        @if (Params != null && Params.Any(p => p.ParamIsFile))
        {
            <div class="input-group">
                <label class="col-form-label">Authorization Key: &nbsp; </label>
                <InputText @bind-Value="@AzureKey" required type=password />
            </div>
        }
    </EditForm>

    @foreach (var p in Params)
    {
        @if (p.ParamIsFile)
        {
            <PipelineParamFile Param=p AzKey="@AzureKey" />
        }
        else
        {
            <PipelineParamText ViewParam=p />
        }
    }
    <br />
    <button class="btn btn-primary" disabled=@(SUBMITTED) onclick=@(()=>{ExecuteJob();})>Execute</button>
    @if (SUBMITTED)
    {
        <NavLink class="btn btn-primary" href="runs">View Status</NavLink>
    }
</div>