@page "/execute/{Id:int}"
@using NextflowRunnerClient.Components
<div>
    <h2>Pipeline ID: @Id </h2>
    @if(SUBMITTED)
    {
        <h2>Submited</h2>
    }
        @foreach (var p in Params)
        {
            <PipelineParam ParamValue=@ParamValue[p.PipelineId.ToString()] Param=p/>
        }    
        <button class="btn btn-primary" onclick=@(()=>{ExecuteJob();})>Execute</button>
</div>