@page "/execute/{Id:int}"
@using NextflowRunnerClient.Components
<div>
    <h2>Pipeline ID: @Id </h2>
    @if(SUBMITTED)
    {
        <h2>Submited</h2>
    }
    
    <label class="col-form-label">Run Name</label>
    <input readonly type="text" class="col-form-label" value=@ExecutionRequest.RunName />

    @foreach (var p in Params)
    {
        <PipelineParam Param=p/>
    }    
    <button class="btn btn-primary" onclick=@(()=>{ExecuteJob();})>Execute</button>
</div>