@page "/pipelines"
@using NextflowRunnerClient.Components;

<h2>Available Pipelines</h2>
@if (Errors.Length > 0)
{
    <h1>Error</h1>
    <h2>@Errors</h2>
}
@if (Pipelines.Count < 1)
{
    <div class="spinner-border text-primary" role="status"></div>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var pipeline in Pipelines)
        {
            <div class="col">
                <Pipeline Pline=@pipeline />
            </div>
        }
    </div>
}